# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Training (fichiers lourds inutiles pour l'app)
training/output/
*.h5
training/__pycache__/
training/*.pyc

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
